<!DOCTYPE html>

<html xmlns:th="http://thymeLeaf.org">
    <head>
        <title>change Menu</title>
    </head>

    <body>
        <h3>ubah Produk</h3>
        <form th:action="@{/menu/change/}+${resto.idRestoran}+@{/}+${menu.id}" th:object="${menu}" method="POST">
            <input type="hidden" th:field="*{idRestoran}" />

            Nama: <br>
            <input type="text" name="nama"/>
            <br>

            Deskripsi: <br>
            <input type="text" name="deskripsi" />
            <br>

            Harga: <br>
            <input type="number" name="harga" />
            <br>

            durasiMasak: <br>
            <input type="number" name="durasiMasak" />
            <br>

            <button type="submit"> Submit </button>
        </form>
    </body>
</html>