<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update Password</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <br>
    <div class = "container">
    	<h2 th:text=" 'Hello ' + ${#httpServletRequest.remoteUser} + ' ! '">Login as</h2>
     	<div class="alert" th:if=${msg}>
		  <div th:text="${msg}" class="alert alert-danger" onclick="this.parentElement.style.display='none';"></div> 
		</div>
		
	    <div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						Update Password
					</div>
					<div class="card-body">
						<form th:action="@{/user/submit}" method="post">
							<div class="row form-group">
								<label class="col-sd-4"> Password Lama: </label>
								<input class="col-sd-8 form-control input-sm" id="oldPass" type="password" name="oldPassword"/>
							</div>
							<div class="row form-group">
								<label class="col-sd-4"> Password Baru: </label>
								<input class="col-sd-8 form-control input-sm" id="newPass" type="password" name="newPassword"/>
							</div>
							<div class="row form-group">
								<label class="col-sd-4"> Konfirmasi Password Baru: </label>
								<input class="col-sd-8 form-control input-sm" id="confirmNewPass" type="password" name="confirmPassword"/>
								<span id='message'></span>
							</div>
							<div>
								<button type="submit" class="btn btn-primary">Simpan</button>
							</div>
						</form>
					</div>
				</div> 
			</div>
		</div>
	</div>
</body>